.hello {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 20px auto;
  height: 80vh;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 90px;
}
.text > h1 {
  color: rgb(41, 69, 70);
  font-size: 45px;
  line-height: 70px;
  margin-right: 60px;
}
.text > p {
  color: gray;
  font-size: 18px;
  margin-bottom: 12px;
  text-align: justify;
}
.text > button {
  width: 40%;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 15px;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(71, 187, 255),
    rgb(8, 202, 112)
  );
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: all 0.3s ease;
}
.text > button:hover {
  margin-left: 8px;
}
.profile {
  /* height: 400px; */
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.profile > img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.247);
}
