.hello {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: 100px auto 20px auto;
  height: 80vh;
}
@media screen and (max-width: 1400px) {
  .hello {
    width: 95%;
  }
}
@media screen and (max-width: 1172px) {
  .hello {
    width: 95%;
    margin: 10px auto;
  }
  .profile {
    margin-top: 100px !important;
    height: 250px !important;
    width: 22em !important;
  }
}
@media screen and (max-width: 835px) {
  .hello {
    width: 100%;
    margin: 0px auto;
  }
  .profile {
    margin-top: 0px !important;
    /* height: 250px !important; */
    /* width: 22em !important; */
  }
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 90px;
}
.text > h1 {
  color: rgb(41, 69, 70);
  font-size: 3em;
}
.text > p {
  width: 23em;
  color: gray;
  font-size: 1.2em;
  margin-bottom: 12px;
  text-align: justify;
}
.text > button {
  width: 40%;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 15px;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(71, 187, 255),
    rgb(8, 202, 112)
  );
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: all 0.3s ease;
}
.text > button:hover {
  margin-left: 8px;
}
.profile {
  margin-top: 80px;
  height: 400px;
  width: 42em;
  overflow: hidden;
}

.profile > img {
  margin: 10px 0px;
  width: 100%;
  cursor: pointer;
}
